* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:  rgb(66, 63, 128);
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
}

#container {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    min-width: 330px;
    color: #333;
}

nav {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    width: 320px;
    color: #fff;
    padding: 10px 30px 60px 30px;
    overflow: hidden;
}

main {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
    width: 440px;
    background-color: #f7f7f7;
    padding: 40px 50px 100px 50px;
}

section {
    width: 100%;
}

h1 {
    font-size: 3rem;
    text-align: right;
}

h2 {
    font-size: 1.5rem;
    text-transform: uppercase;
}

h3 {
    font-size: 1.3rem;
    margin: 10px 0 0 0;
}

h4 {
    font-size: 1.2rem;
    margin: 0 0 5px 0;
    text-transform: uppercase;
}

h5 {
    font-size: 1.1rem;
    font-weight: 700;
}

ul {
    list-style-type: none;
}

a, a:visited, a:active {
    text-decoration: none;
    color: #333;
}

a:hover{
    text-decoration: underline;
}

/* NAV */

#profile {
    padding: 20px 0 10px 0;
    text-align: center;
}

.pic {
    width: 220px;
    border-radius: 50%;
    border: 6px solid #fff;
}

#profile h2 {
    margin: 10px 0 5px 0;
}

#profile p {
    margin: 0 0 20px 0;
}

#social-media, #languages {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
}

#social-media li, #languages li {
    line-height: 2.1rem;
}

#social-media i {
    margin: 0 15px 0 0;
    vertical-align: middle ;
}

#social-media li {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-center;
    align-items: center;
    margin: 5px 0 0 0;
}

#social-media a {
    color: #fff;
    text-decoration: none;
}

#social-media a:hover, a:active {
    text-decoration: underline;
}

#languages h2 {
    margin: 40px 0 20px 0;
}

#languages img {
    width: 50px;
    height: auto;
    vertical-align: middle;
    margin: 5px 10px 10px 0;
}

#languages img:hover {
    transition: 0.2s;
    transform: scale(1.1);
}

#languages li {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    line-height: 1.4rem;
}


/* MAIN */

main h2 {
    margin: 20px 0;
}

main h3 {
    margin: 20px 0 0 0;
    color: #666;
}

.divider {
    height: 2px;
    width: 80%;
    margin: 30px 0;
    background: rgb(63, 50, 182);
    background: linear-gradient(90deg, #f7f7f7, #ccc, #f7f7f7);
}

#job-title {
    font-size: 1.5rem;
    text-align: right;
}

#brief-description {
    text-align: left;
}

.skill-tree {
    display: flex;
    flex-flow: row wrap;
}

.skill-tree > li {
    margin: 5px 20px;
    justify-content: space-evenly;
}

.skill-item {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.skill-item img {
    width: 60px;
    height: auto;
    margin: 5px 5px 5px 0;
}

.skill-item img:hover {
    transition: 0.2s;
    transform: scale(1.2);
}

.box-star {
    display: flex;
    flex-flow: column nowrap;
    min-width: 100px;
}

.fa-star, .fa-rectangle {
    color: #ccc;
}

.checked {
    color: rgb(255, 165, 0);
}

#soft-skills > ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}

#soft-skills ul li {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    margin: 5px 20px 0 0;
    min-width: 320px;
}

#soft-skills img {
    width: 80px;
    height: auto;
    margin: 5px 10px 5px 0;
    border-radius: 6px;
}

#soft-skills img:hover {
    transition: 0.2s;
    transform: scale(1.1);
}

.ss-line-header {
    font-weight: 600;
    margin: 10px 0 0 0;
}

/* CAROUSEL */

/*
#projects {
    overflow: hidden;
}
*/

.project-container {
    padding: 0 20px;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

.project-container::-webkit-scrollbar {
    display: none;
}

.card {
    flex: 0 0 auto;
    width: 400px;
    height: 100%;
    margin: 0 20px 0 0;
}

.card:hover .card-btn {
    opacity: 1;
}

.project-image {
    position: relative;
    width: 100%;
    height: 155px;
    overflow: hidden;
    border: 1px solid #ccc;
}

.project-thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 6px;
    width: 40%;
    text-transform: uppercase;
    text-align: center;
    font-size: 0.9rem;
    border: none;
    outline: none;
    background-color: rgb(9, 158, 16);
    color: #fff;
    border-radius: 4px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
}

.project-info {
    width: 100%;
    height: 100%;
    padding: 10px 0 0 0;
}

.project-name {
    text-transform: uppercase;
}

.project-short-description {
    width: 100%;
    line-height: 20px;
    margin: 5px 0;
}

.project-short-description a, a:hover{
    text-decoration: none;
}

.project-short-description a:hover{
    text-decoration: underline;
}

.pre-btn, .nxt-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 20px;
    height: 200px;
    top: 0;
    background-color: #f7f7f7;
    cursor: pointer;
    z-index: 10;
}

.pre-btn {
    float: left;
    left: 0;
    margin: 0 10px 0 0;
    transform: rotate(180deg);
}

.nxt-btn {
    float: right;
    right: 0;
    margin: 0 0 0 10px;
}

.pre-btn img, .nxt-btn img {
    opacity: 0.2;
}

.pre-btn:hover img, .nxt-btn:hover img {
    opacity: 1;
}


/* WORK */

#work-experience ul {
    display: flex;
    flex-flow: column nowrap;
}

.work-xp {
    display: flex;
    flex-flow: row wrap;
    margin: 0 0 30px 0;
}

.work-xp h4.date {
    display: flex;
    flex-flow: row wrap;
    margin: 0 20px 10px 0;
    width: 200px;
    color: rgb(255, 165, 0);
    font-size: 1.1rem;
    text-transform: none;
}

.work-description {
    display: flex;
    flex-flow: column wrap;
    border-left: 1px dashed #999;
    padding: 0 0 0 20px;
}

.work-description ul {
    list-style-type: disc;
    margin: 5px 0 0 40px;
}

.work-description li {
    line-height: 1.5rem;
}


@media (max-width: 420px) {



    
}